<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
	
<h:head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="author" content="Alluminox Devellopers - Alluminox Indústria e Comércio LTDA" />
	<meta name="description" content="ERP system" />
	
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="#{resource['css/style.css']}" />
	<title>#{title}</title>
	
	<style>
		.many-checkbox {
			padding: 1rem;
		} 
		
		.many-checkbox td {
			display: block;
			padding: 1rem;
		}
		
		.many-checkbox input[type=radio] {
			vertical-align: middle;
		}
		
		.many-checkbox label {
			font-size: 1.5rem;
			vertical-align: middle;
			line-height: 1.5rem;
	
		}
		
		.ui-growl-title {
		    font-size: 1.8rem;
		    text-align: center;
		}
		

	</style>
	
	
	
</h:head>

<h:body>
	
	<p:growl id="globalMessages"  />
	
	<div class="wrapper wrapper--dashboard">
	
      <div class="d-sidebar " id="d-sidebar">
        <sidebar class="sidebar-side">

          <div class="sidebar-side__header">
            <div class="user-info">
              <img src="https://useronboard.com/imgs/useronboard-logo-hi-round.png" alt="Imagem do Usuario" class="user-info__image img" />
              <span class="user-info__name">Alexandre Antoniassi</span>
              <span class="user-info__status"><small class="status__icon"></small> Online</span>
            </div>
          </div>
	
			<h:form styleClass="sidebar-side__content overflow">
	         
	              <ul class="list list--listed ">
	                <li class="list__item dropdown">
	                  <a href="#"><span class="list__text">Clientes </span> <i class="icon--fixed icon-animate fas fa-arrow-right "></i></a>
	                  <div class="dropdown__content">
	                        <ul class="list list--listed ">
	                            <li class="list__item"><h:commandLink value="Cadastro de Clientes" action="/application/customer/RegisterCustumer?faces-redirect=true"></h:commandLink></li>
	                            <li class="list__item"><h:commandLink value="Pesquisa de Clientes" action="/application/customer/SearchCustomer?faces-redirect=true"></h:commandLink></li>
	                        </ul>
	                  </div>
	                </li>
	
					<li class="list__item"><h:commandLink action="/application/product/RegisterProduct?faces-redirect=true" ><span class="list__text">Produtos</span> <i class="fas fa-dollar-sign icon--fixed"></i></h:commandLink> </li>
	 				<li class="list__item"><h:commandLink action="/application/provider/RegisterProvider?faces-redirect=true" ><span class="list__text">Fornecedores</span> <i class="fas fa-dollar-sign icon--fixed"></i></h:commandLink> </li>
	 				
	                <li class="list__item"><a href="#"><span class="list__text">Minhas Compras</span> <i class="fas fa-dollar-sign icon--fixed"></i></a></li>
	                <li class="list__item"><a href="#"><span class="list__text">Minhas Vendas</span> <i class="fas fa-hand-holding-usd icon--fixed"></i></a></li>
	                <li class="list__item"><a href="#"><span class="list__text">Estoque</span> <i class="fas fa-dolly icon--fixed"></i></a></li>
	                <li class="list__item"><a href="#"><span class="list__text">Relatorios</span> <i class="fas fa-print icon--fixed"></i></a>
	                </li>
	              </ul>
	          
			</h:form>
        </sidebar>
      </div>
	
      <header class="d-bar">
        <div class="d-bar__content">
          <div class="d-bar__icon">
            <a href="#" id="nav-icon" target="d-sidebar" ><i class="fas fa-bars"></i></a>
          </div>



		<h:form>
          <nav class="bar-navigation bar-navigation--togle" >
            <ul class="list list--bar">
              <li class="list__item">
              	<h:commandLink value="Dashboard" action="/application/index?faces-redirect=true">
              	 <i class="far fa-chart-bar"></i>  <span class="badge badge--green badge--fixed-top-right">new</span>
              	</h:commandLink>
              	</li>
              <li class="list__item"><a href="#">Email <i class="far fa-envelope"></i> <span class="badge badge--purple badge--fixed-top-right">89</span></a> </li>
              <li class="list__item"><a href="#">Notificações <i class="far fa-bell"></i> <span class="badge badge--blue badge--fixed-top-right">100</span></a></li>
              <li class="list__item"><a href="#">Calendário <i class="far fa-calendar"></i></a> <span class="badge badge--red badge--fixed-top-right">new</span> </li>
              <li class="list__item"><a href="#">Configurações <i class="fas fa-cog"></i></a></li>
            </ul>
          </nav>
    	 </h:form>
        </div>
      </header>

      <main class="d-content">
   		<section class="section" >
			<h:messages errorClass="alert alert--danger"  infoClass="alert alert--success" warnClass="alert alert--warning" id="messages" globalOnly="true"/>
        </section>
      	
		<ui:insert name="content" />
      </main>

      <footer class="footer">
        <p class="footer__title">&copy; Todos os direitos reservados.Alluminox Industria e Comércio LTDA</p>
      </footer>

    </div>

	<!-- <script type="text/javascript" src="#{resource['js/jquery-3.3.1.min.js']}"></script> -->
	<script type="text/javascript" src="#{resource['js/jquery.mask.min.js']}"></script>
	
    <script type="text/javascript">
    $(function() {
    
 	   btnNav = $("#nav-icon");
       console.log(btnNav.attr("target"));
 	   
       sidebar = $('#' + btnNav.attr("target"));
      
       console.log(sidebar);
       
       btnNav.click(function(event) {
         event.preventDefault();
         sidebar.toggleClass("d-sidebar--hide");
       });
    });
    

    
    </script>
    
    
</h:body>

</html>