* {
  box-sizing: inherit;
  font-size: 62.5%;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

ul {
  list-style: none;
  margin: 0; }

a {
  text-decoration: none; }

option {
  font-size: 1.4rem; }

.messages {
  width: 100% !important;
  padding: 0 1rem !important; }

.ui-button-text-only .ui-button-text {
  padding: 0; }

.row {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 700px) {
    .row {
      flex-direction: row; } }

.col {
  margin: 0 1rem; }

.col-1 {
  width: calc((100% * 1) / 12 - 2 * 1rem); }

.col-2 {
  width: calc((100% * 2) / 12 - 2 * 1rem); }

.col-3 {
  width: calc((100% * 3) / 12 - 2 * 1rem); }

.col-4 {
  width: calc((100% * 4) / 12 - 2 * 1rem); }

.col-5 {
  width: calc((100% * 5) / 12 - 2 * 1rem); }

.col-6 {
  width: calc((100% * 6) / 12 - 2 * 1rem); }

.col-7 {
  width: calc((100% * 7) / 12 - 2 * 1rem); }

.col-8 {
  width: calc((100% * 8) / 12 - 2 * 1rem); }

.col-9 {
  width: calc((100% * 9) / 12 - 2 * 1rem); }

.col-10 {
  width: calc((100% * 10) / 12 - 2 * 1rem); }

.col-11 {
  width: calc((100% * 11) / 12 - 2 * 1rem); }

.col-12 {
  width: calc((100% * 12) / 12 - 2 * 1rem); }

@media (min-width: 230px) {
  .col-sm-1 {
    width: calc((100% * 1) / 12 - 2 * 1rem); }
  .col-sm-2 {
    width: calc((100% * 2) / 12 - 2 * 1rem); }
  .col-sm-3 {
    width: calc((100% * 3) / 12 - 2 * 1rem); }
  .col-sm-4 {
    width: calc((100% * 4) / 12 - 2 * 1rem); }
  .col-sm-5 {
    width: calc((100% * 5) / 12 - 2 * 1rem); }
  .col-sm-6 {
    width: calc((100% * 6) / 12 - 2 * 1rem); }
  .col-sm-7 {
    width: calc((100% * 7) / 12 - 2 * 1rem); }
  .col-sm-8 {
    width: calc((100% * 8) / 12 - 2 * 1rem); }
  .col-sm-9 {
    width: calc((100% * 9) / 12 - 2 * 1rem); }
  .col-sm-10 {
    width: calc((100% * 10) / 12 - 2 * 1rem); }
  .col-sm-11 {
    width: calc((100% * 11) / 12 - 2 * 1rem); }
  .col-sm-12 {
    width: calc((100% * 12) / 12 - 2 * 1rem); } }

@media (min-width: 700px) {
  .col-md-1 {
    width: calc((100% * 1) / 12 - 2 * 1rem); }
  .col-md-2 {
    width: calc((100% * 2) / 12 - 2 * 1rem); }
  .col-md-3 {
    width: calc((100% * 3) / 12 - 2 * 1rem); }
  .col-md-4 {
    width: calc((100% * 4) / 12 - 2 * 1rem); }
  .col-md-5 {
    width: calc((100% * 5) / 12 - 2 * 1rem); }
  .col-md-6 {
    width: calc((100% * 6) / 12 - 2 * 1rem); }
  .col-md-7 {
    width: calc((100% * 7) / 12 - 2 * 1rem); }
  .col-md-8 {
    width: calc((100% * 8) / 12 - 2 * 1rem); }
  .col-md-9 {
    width: calc((100% * 9) / 12 - 2 * 1rem); }
  .col-md-10 {
    width: calc((100% * 10) / 12 - 2 * 1rem); }
  .col-md-11 {
    width: calc((100% * 11) / 12 - 2 * 1rem); }
  .col-md-12 {
    width: calc((100% * 12) / 12 - 2 * 1rem); } }

@media (min-width: 700px) {
  .col-lg-1 {
    width: calc((100% * 1) / 12 - 2 * 1rem); }
  .col-lg-2 {
    width: calc((100% * 2) / 12 - 2 * 1rem); }
  .col-lg-3 {
    width: calc((100% * 3) / 12 - 2 * 1rem); }
  .col-lg-4 {
    width: calc((100% * 4) / 12 - 2 * 1rem); }
  .col-lg-5 {
    width: calc((100% * 5) / 12 - 2 * 1rem); }
  .col-lg-6 {
    width: calc((100% * 6) / 12 - 2 * 1rem); }
  .col-lg-7 {
    width: calc((100% * 7) / 12 - 2 * 1rem); }
  .col-lg-8 {
    width: calc((100% * 8) / 12 - 2 * 1rem); }
  .col-lg-9 {
    width: calc((100% * 9) / 12 - 2 * 1rem); }
  .col-lg-10 {
    width: calc((100% * 10) / 12 - 2 * 1rem); }
  .col-lg-11 {
    width: calc((100% * 11) / 12 - 2 * 1rem); }
  .col-lg-12 {
    width: calc((100% * 12) / 12 - 2 * 1rem); } }

@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc((100% * 1) / 12 - 2 * 1rem); }
  .col-xl-2 {
    width: calc((100% * 2) / 12 - 2 * 1rem); }
  .col-xl-3 {
    width: calc((100% * 3) / 12 - 2 * 1rem); }
  .col-xl-4 {
    width: calc((100% * 4) / 12 - 2 * 1rem); }
  .col-xl-5 {
    width: calc((100% * 5) / 12 - 2 * 1rem); }
  .col-xl-6 {
    width: calc((100% * 6) / 12 - 2 * 1rem); }
  .col-xl-7 {
    width: calc((100% * 7) / 12 - 2 * 1rem); }
  .col-xl-8 {
    width: calc((100% * 8) / 12 - 2 * 1rem); }
  .col-xl-9 {
    width: calc((100% * 9) / 12 - 2 * 1rem); }
  .col-xl-10 {
    width: calc((100% * 10) / 12 - 2 * 1rem); }
  .col-xl-11 {
    width: calc((100% * 11) / 12 - 2 * 1rem); }
  .col-xl-12 {
    width: calc((100% * 12) / 12 - 2 * 1rem); } }

.img {
  width: 100%;
  height: auto; }

.overflow {
  overflow-x: hidden;
  overflow-y: auto; }

.margin-top-sm {
  margin-top: 1rem; }

.margin-top-md {
  margin-top: 1.5rem; }

.margin-top-lg {
  margin-top: 2rem; }

.margin-top-xl {
  margin-top: 2.5rem; }

.margin-bottom-sm {
  margin-bottom: 1rem; }

.margin-bottom-md {
  margin-bottom: 1.5rem; }

.margin-bottom-lg {
  margin-bottom: 2rem; }

.margin-bottom-xl {
  margin-bottom: 2.5rem; }

.margin-right-sm {
  margin-right: 1rem; }

.margin-right-md {
  margin-right: 1.5rem; }

.margin-right-lg {
  margin-right: 2rem; }

.margin-right-xl {
  margin-right: 2.5rem; }

.margin-left-sm {
  margin-left: 1rem; }

.margin-left-md {
  margin-left: 1.5rem; }

.margin-left-lg {
  margin-left: 2rem; }

.margin-left-xl {
  margin-left: 2.5rem; }

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.flex-start {
  display: flex;
  justify-content: flex-start; }

a.text-red {
  line-height: 1.2rem;
  font-size: 1.2rem;
  color: #ef5d5d; }

a.text-blue {
  line-height: 1.2rem;
  font-size: 1.2rem;
  color: #39b8ff; }

.font-sm {
  font-size: 1.2rem; }

.font-md {
  font-size: 1.6rem; }

.font-lg {
  font-size: 2rem; }

.font-xl {
  font-size: 2.7rem; }

.width {
  width: 100%; }

.width-20 {
  width: 20%; }

.width-40 {
  width: 40%; }

.width-60 {
  width: 60%; }

.width-80 {
  width: 80%; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.user-info {
  text-align: center; }
  .user-info__image {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    margin-bottom: 1rem; }
    @media (min-width: 980px) {
      .user-info__image {
        width: 5.5rem;
        height: 5.5rem; } }
  .user-info__status {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 1.4rem;
    color: #fff; }
    .user-info__status .status__icon {
      width: 8px;
      height: 8px;
      margin-right: 2px;
      display: inline-block;
      background-color: green;
      border-radius: 50%; }
    @media (min-width: 980px) {
      .user-info__status {
        font-size: 1rem; } }
  .user-info__name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    display: block;
    margin-bottom: .7rem; }
    @media (min-width: 980px) {
      .user-info__name {
        font-size: 1.3rem; } }

.dropdown .list .list__item:hover {
  background-color: #243946; }

.list {
  padding: 0;
  margin: 0; }
  .list--bar .list__item {
    display: inline-block; }
    @media (min-width: 700px) {
      .list--bar .list__item {
        width: auto; } }
  .list--listed .list__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .list--listed:hover {
    border-color: #304b5d; }
  .list a {
    color: #555; }
  .list__text {
    position: relative; }
  .list__item {
    position: relative;
    position: relative;
    width: 100%;
    font-size: 2.2rem;
    line-height: 1rem;
    transition: all .2s;
    font-weight: 400;
    cursor: pointer;
    color: #555; }
    @media (min-width: 700px) {
      .list__item {
        display: inline-block; } }
    .list__item span {
      display: inline-block;
      font-size: 1.5rem;
      margin-left: 4rem; }
    .list__item a {
      display: block;
      padding: 2rem 1.5rem; }
    .list__item i.icon--fixed {
      display: block;
      font-size: 1.4rem;
      line-height: 1.5rem;
      position: absolute;
      top: 50%;
      left: 2rem;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      transition: all .3s; }
    .list__item i {
      margin-left: .5rem;
      font-size: 1.6rem; }
    .list__item:hover {
      background-color: #2e495a; }
    .list__item:hover > a {
      color: #fff; }
    .list__item:hover > a i.icon--fixed.icon-animate {
      -webkit-transform: translateY(-50%) rotate(90deg);
              transform: translateY(-50%) rotate(90deg); }

textarea {
  resize: none;
  min-height: 8rem; }

.form {
  width: 100%;
  padding: 2rem 1rem; }
  .form--center {
    max-width: 800px; }

.input--inline label {
  display: inline-block;
  margin-bottom: 0; }

.input {
  display: flex;
  flex-direction: column; }
  .input--inline {
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .input--inline .input__label {
    text-align: right;
    padding: 0 1rem;
    flex-basis: 30%; }
  .input--inline .btn {
    justify-content: flex-end; }
  .input:not(:last-child) {
    margin-bottom: 2rem; }
  .input__label {
    font-size: 1.5rem;
    display: block;
    margin-bottom: .5rem; }
  .input__data {
    font-size: 1.4rem;
    border-radius: 2px;
    width: 100%;
    display: inline-block;
    line-height: 1.4rem;
    padding: .8rem 5px;
    color: #333;
    box-sizing: border-box !important;
    border: 1px solid #cfcfcf; }

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%; }
  .dropdown__content {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    width: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all .2s; }
  .dropdown:hover .dropdown__content {
    opacity: 1;
    visibility: visible;
    width: 100%; }

.badge {
  display: block;
  font-size: 1.2rem !important;
  margin-left: .5rem;
  height: 1.4rem;
  text-align: center;
  line-height: 1rem;
  border-radius: 2px;
  padding: 2px;
  background-color: #f7c641;
  color: #fff;
  font-weight: bold; }
  .badge--blue {
    background-color: #39b8ff; }
  .badge--red {
    background-color: #ef5d5d; }
  .badge--green {
    background-color: #3cbd68; }
  .badge--purple {
    background-color: #6647ef; }
  .badge--fixed-top-right {
    position: absolute;
    top: 1rem;
    right: 0; }
  .badge--fixed-top-left {
    position: absolute;
    top: 1rem;
    left: 0;
    margin: 0; }

.ticket.ticket--red .ticket__icon {
  background-color: #eb3333; }

.ticket.ticket--red .ticket__info {
  background-color: #f06666; }

.ticket.ticket--green .ticket__icon {
  background-color: #319a55; }

.ticket.ticket--green .ticket__info {
  background-color: #41c36d; }

.ticket.ticket--purple .ticket__icon {
  background-color: #664ae2; }

.ticket.ticket--purple .ticket__info {
  background-color: #6e50f0; }

.ticket.ticket--blue .ticket__icon {
  background-color: #0ba8ff; }

.ticket.ticket--blue .ticket__info {
  background-color: #43bcff; }

.ticket {
  width: calc(100% - 2 * margin);
  background-color: #fff;
  margin: 0 1rem;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: .95; }
  .ticket:hover {
    opacity: 1; }
  @media (min-width: 700px) {
    .ticket {
      width: calc(50% - (2 * 1rem)); } }
  @media (min-width: 1200px) {
    .ticket {
      width: calc(25% - (2 * 1rem));
      margin-bottom: 0; } }
  .ticket__icon {
    padding: 1rem 3rem;
    font-size: 6rem;
    text-align: center;
    width: 25%;
    color: #fff; }
    @media (min-width: 700px) {
      .ticket__icon {
        flex-basis: 35%; } }
    .ticket__icon i {
      display: block;
      line-height: 6.9rem; }
  .ticket__info {
    padding: 2rem;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    color: #fff; }
  .ticket__title {
    display: block;
    font-size: 1.5rem;
    margin-bottom: .5rem; }
  .ticket__subtitle {
    font-size: 2.4rem;
    font-weight: 400; }

.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-top: 2px solid transparent;
  margin-bottom: 1rem; }
  .card--table .card__header {
    padding: 1rem 1.5rem; }
  .card__header {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .card__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #333; }
  .card__body {
    padding: 2rem 1rem;
    font-size: 1.4rem; }
  .card__footer {
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .card--top-red {
    border-color: #ef5d5d; }
  .card--top-green {
    border-color: #3cbd68; }
  .card--top-blue {
    border-color: #39b8ff; }
  .card--top-purple {
    border-color: #6647ef; }

.btn {
  font-size: 1.2rem;
  padding: 1rem;
  font-size: 1.4rem;
  display: inline-block;
  border-radius: 1px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all .2s;
  opacity: .9;
  color: #fff;
  font-weight: 500; }
  .btn:not(:last-child) {
    margin-right: 1rem; }
  .btn:hover {
    opacity: 1; }
  .btn--block {
    width: 100%;
    display: block; }
  .btn--sm {
    font-size: 1.2rem;
    padding: .8rem; }
  .btn--md {
    padding: 1rem; }
  .btn--lg {
    font-size: 1.4rem;
    padding: 1.2rem; }
  .btn--xl {
    font-size: 1.6rem;
    padding: 1.4rem; }
  .btn--green {
    color: #fff !important;
    background-color: #3cbd68 !important;
    font-weight: 500; }
  .btn--blue {
    color: #fff !important;
    background-color: #39b8ff !important;
    font-weight: 500; }
  .btn--red {
    background-color: #ef5d5d !important;
    border-color: #ef5b5b !important;
    color: #fff !important;
    font-weight: 500; }
  .btn--purple {
    color: #fff !important;
    background-color: #6647ef !important;
    border-color: #6445ef !important;
    font-weight: 500; }
  .btn--icon-round {
    text-align: center;
    border-radius: 50%; }
  .btn--icon {
    color: #777;
    background-color: #f5f5f5;
    border: 1px solid #f2f2f2;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem; }
    .btn--icon i {
      font-size: 1.4rem; }

table.table {
  width: 100%;
  border: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  text-align: center;
  box-sizing: border-box; }

.table {
  background-color: #fff; }
  .table--bordered tbody tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .table--stripped tbody tr:nth-child(odd) {
    background-color: #fafafa; }
  .table--stripped tbody tr:nth-child(even) {
    background-color: #f8f0f0; }
  .table--hover tbody tr {
    transition: all .2s; }
  .table--hover tbody tr:hover {
    background-color: #f7f7f7;
    border-color: #e4e4e4;
    cursor: pointer; }
  .table__head th {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1.5rem 1rem;
    color: rgba(68, 68, 68, 0.92);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: table-cell;
    vertical-align: middle;
    border-radius: 2px; }
  .table__body td {
    font-size: 1.36rem;
    padding: 1.5rem 1rem;
    color: #555;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    border-radius: 2px; }

.alert-text {
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 0  0; }

.alert-text--info {
  color: #39b8ff; }

.alert-text--warning {
  color: #f7c641; }

.alert-text--danger {
  color: #ef5d5d; }

.alert {
  width: calc(100% - 2 * 1rem);
  display: block;
  margin: 0 1rem;
  padding: 1.4rem; }
  .alert--danger {
    border-radius: 2px;
    background-color: #ef5d5d;
    color: #fff;
    font-size: 14px;
    border: 1px solid #ef5858;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .alert--warning {
    border-radius: 2px;
    background-color: #f7c641;
    color: #fff;
    font-size: 14px;
    border: 1px solid #f7c337;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .alert--info {
    border-radius: 2px;
    background-color: #39b8ff;
    color: #fff;
    font-size: 14px;
    border: 1px solid #2fb4ff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .alert--success {
    border-radius: 2px;
    background-color: #3cbd68;
    color: #fff;
    font-size: 14px;
    border: 1px solid #3ab564;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.d-sidebar.d-sidebar--hide {
  left: -100%; }

.d-sidebar.d-sidebar--hide ~ .d-content {
  margin-left: 0; }

.d-sidebar {
  width: 100%;
  height: 100%;
  transition: all .4s;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 999999;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  @media (min-width: 230px) {
    .d-sidebar {
      width: 100%; } }
  @media (min-width: 980px) {
    .d-sidebar {
      width: 25%; } }
  @media (min-width: 700px) {
    .d-sidebar {
      width: 25%;
      top: 56px; } }
  @media (min-width: 1200px) {
    .d-sidebar {
      width: 17%; } }

.sidebar-side__header {
  padding: 2rem 1rem;
  background-color: #416984; }

.sidebar-side__content {
  height: 80%;
  background-color: #fff; }

@media (max-width: 980px) {
  .bar-navigation.bar-navigation--togle {
    display: none; } }

.d-bar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 88;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 5rem;
  width: 100%; }
  @media (min-width: 700px) {
    .d-bar {
      height: 5.6rem; } }
  @media (min-width: 1200px) {
    .d-bar {
      padding: 0 0 0 2rem; } }
  .d-bar__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    @media (min-width: 700px) {
      .d-bar__content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; } }
  .d-bar__icon {
    padding: 1.5rem; }
  .d-bar__icon a {
    display: block; }
  .d-bar__icon i {
    color: #777;
    font-size: 2rem; }

.d-sidebar.d-sidebar--hide ~ .footer {
  width: calc(100%); }

.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: calc(100% - 17%);
  transition: all .2s;
  right: 0;
  padding: 1.4rem;
  text-align: center; }
  .footer p {
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: #333; }

.d-content {
  transition: all .4s;
  min-height: 100vh;
  padding: 1rem;
  width: 100%;
  font-size: 2rem; }
  @media screen and (min-width: 776px) {
    .d-content {
      margin-left: 25%; } }
  @media screen and (min-width: 1020px) {
    .d-content {
      margin-left: 17%; } }

.section-tickets,
.section-cards,
.section-graphs,
.section,
.section-contact,
.section-table {
  display: flex;
  padding: 1rem;
  flex-direction: column; }
  @media (min-width: 700px) {
    .section-tickets,
    .section-cards,
    .section-graphs,
    .section,
    .section-contact,
    .section-table {
      flex-direction: row; } }

.wrapper {
  height: 100%;
  width: 100%; }
  .wrapper--dashboard {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding-bottom: 4rem; }

.form-login {
  background-color: #f9f9f9;
  box-sizing: border-box; }
  .form-login .input__label {
    font-size: 1.5rem;
    display: block;
    margin-bottom: .8rem; }

.login-panel {
  margin: 10% auto;
  width: 42rem; }
  .login-panel__header {
    padding: 1.5rem;
    justify-content: center; }
    .login-panel__header h2 {
      font-size: 2rem !important; }
  .login-panel__input {
    padding: 1rem; }
    .login-panel__input:not(:last-child) {
      margin-bottom: 1rem; }
    .login-panel__input .input__data {
      line-height: .84rem;
      padding: .89rem 1rem; }

.card__body--login,
.card_footer--login {
  padding: 2rem 1.5rem; }

.footer-login {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #f5f5f5; }

.footer-login__message {
  font-size: 1.4rem;
  display: block; }

.footer-login__link {
  font-size: 2rem; }
  .footer-login__link a {
    display: inline;
    color: #454545;
    margin-left: 1rem; }
