<ui:composition
      template="/WEB-INF/template/DashboardTemplate.xhtml" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	  xmlns:jsf="http://xmlns.jcp.org/jsf">
      
      <ui:param name="title" value="Cadastro de Perfil" />
      
      <ui:define name="content">
     		<f:metadata>
     			<f:viewParam for="" name="produto" value="#{cadastroProdutoBean.productUuid}" required="false "/>
     			<f:viewAction  action="#{cadastroProdutoBean.init}"/>
     		</f:metadata>
      	
      	
      <section class="section-cards row">
			<article class="card card--top-blue col col-8 col-sm-12 col-md-6">
	            <h:form>
	              <header class="card__header">
	                  <h2 class="card__title">Cadastro de Produto</h2>
	                  <div class="card__buttons">
	                  	
	                  	<h:commandButton value="Salvar" styleClass="btn btn--green" action="#{cadastroProdutoBean.save}" />
	                  	<h:commandLink immediate="true" value="Pesquisar" styleClass="alert-text alert-text--info" action="SearchProduct?faces-redirect=true" />
	               
	                  </div>
	              </header>
	
	              <div class="card__body">
	      			 <div class="input">
                        <h:outputLabel for="#" styleClass="input__label" value="Nome" />
                        <h:inputText type="text" styleClass="input__data"  pt:placeholder="Nome do Produto" 
                        	id="nomeProduto"
                        	required="true"
                        	requiredMessage="** Campo nome obrigatório"
                        	value="#{cadastroProdutoBean.produto.nome}" /> 
                        	
                        <h:message for="nomeProduto" styleClass="alert-text alert-text--danger" />
                      </div>
                      
	      			 <div class="input">
                        <h:outputLabel for="#" styleClass="input__label" value="Descrição" />
                        <h:inputTextarea type="text" styleClass="input__data" pt:placeholder="Descrição do Produto" 
                            id="descricaoProduto"
                        	required="true"
                        	requiredMessage="** Campo descrição obrigatório"
                        	value="#{cadastroProdutoBean.produto.descricao}" /> 
                        	
                         <h:message for="descricaoProduto" styleClass="alert-text alert-text--danger" />
                      </div>
                      
	      			 <div class="input">
                        <h:outputLabel for="#" styleClass="input__label" value="Codigo de Mercado" />
                        <h:inputText type="text" styleClass="input__data" pt:placeholder="Código de Mercado" 
                         	id="codigoMercadoProduto"
                        	required="true"
                        	requiredMessage="** Campo código de mercado obrigatório"
                        	value="#{cadastroProdutoBean.produto.codigoMercado}" />
                        	
                      	<h:message for="codigoMercadoProduto" styleClass="alert-text alert-text--danger" /> 
                      </div>
                      
	      			 <div class="input">
                        <h:outputLabel for="#" styleClass="input__label" value="Código de Barras" />
                        <h:inputText type="text" styleClass="input__data" pt:placeholder="Código de Barras" 
                        	id="codigoBarrasProduto"
                        	required="true"
                        	requiredMessage="** Campo código de barras obrigatório"
                        	value="#{cadastroProdutoBean.produto.codigoBarras}" /> 
                        	
                        <h:message for="codigoBarrasProduto" styleClass="alert-text alert-text--danger" /> 
                      </div>

	      			 <div class="input">
                        <h:outputLabel for="#" styleClass="input__label" value="Preço de Compra" />
                        <h:inputText type="text" styleClass="input__data" pt:placeholder="Preço de Compra" 
                        	id="precoCompraProduto"
                        	required="true"
                        	requiredMessage="** Campo preço de Compras obrigatório"
                        	value="#{cadastroProdutoBean.produto.precoCompra}" /> 
                        
                        <h:message for="precoCompraProduto" styleClass="alert-text alert-text--danger" /> 
                      </div>       
                     
                     <div class="input">
                        <h:outputLabel for="#" styleClass="input__label" value="Preço de Venda" />
                        <h:inputText type="text" styleClass="input__data" pt:placeholder="Preço de Venda" 
                        	id="precoVendaProduto"
                        	required="true"
                        	requiredMessage="** Campo preço de venda obrigatório"
                        	value="#{cadastroProdutoBean.produto.precoVenda}" /> 
                        	
                        <h:message for="precoVendaProduto" styleClass="alert-text alert-text--danger" /> 
                      </div> 
                      
					  <div class="input">
                        <h:outputLabel for="#" styleClass="input__label" value="Desconto" />
                        <h:inputText type="text" styleClass="input__data" pt:placeholder="Desconto"
                        	 id="precoDescontoProduto"
                        	required="true"
                        	requiredMessage="** Campo desconto  obrigatório"
                        	value="#{cadastroProdutoBean.produto.desconto}" /> 
                        	
                        <h:message for="precoDescontoProduto" styleClass="alert-text alert-text--danger" /> 
                      </div>      
                      
                      <div class="input">
                      	<h:outputLabel value="Tipo Produto"  styleClass="input__label"/>
                      	<h:selectOneMenu value="#{cadastroProdutoBean.produto.tipoProduto}" styleClass="input__data"  
                      		id="tipoProdutoSelect" 
                      		required="true" 
                      		requiredMessage="Selecione o tipo de Produto">
  	    					<f:selectItems value="#{cadastroProdutoBean.tiposProduto}" var="tipo"  itemLabel="#{tipo}" itemValue="#{tipo}"/>
  	    				</h:selectOneMenu>
  	    				
  	    				<h:message for="tipoProdutoSelect" styleClass="alert-text alert-text--danger" /> 
                      </div>
					
					  <div class="input">
					  	<h:outputLabel value="Acabamento" styleClass="input__label"/>
	  	    			<h:selectOneMenu value="#{cadastroProdutoBean.produto.acabamento}" styleClass="input__data"
	  	    				id="acabamentoSelect" 
                      		required="true" 
                      		requiredMessage="Selecione o tipo de Acabamento">
	  	    				<f:selectItems value="#{cadastroProdutoBean.acabamentos}" var="acabamento"  itemLabel="#{acabamento}" 
	  	    					itemValue="#{acabamento}"/>
	  	    			</h:selectOneMenu>
	  	    			
	  	    			<h:message for="acabamentoSelect" styleClass="alert-text alert-text--danger" /> 
					  </div>
		          	
		          	  <div class="input">
    	  	    		<h:outputLabel value="Linha" styleClass="input__label"/>
	  	    			<h:selectOneMenu value="#{cadastroProdutoBean.produto.linha}" converter="modelConverter"  styleClass="input__data" 
	  	    				id="linhaSelect" 
                      		required="true" 
                      		requiredMessage="Selecione a Linha do Produto">
	  	    				<f:selectItems value="#{cadastroProdutoBean.linhas}" var="linha" itemLabel="#{linha.nome}" itemValue="#{linha}" />
	  	    			</h:selectOneMenu>
	  	    			
	  	    			<h:message for="linhaSelect" styleClass="alert-text alert-text--danger" /> 
		          	  </div>
	              </div>
	
	  	    			<h:inputHidden value="#{cadastroProdutoBean.produto.version}"/>

	    
	            </h:form>
	          </article>
		</section>
      	
      	
	      
      </ui:define>
</ui:composition>

