<ui:composition template="/WEB-INF/template/DashboardTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

	<ui:param name="title" value="Pesquisa de Produto" />

	<ui:define name="content">

		<f:metadata>
			<f:viewAction action="#{cadastroProdutoBean.init}" />
		</f:metadata>

		<section class="section-cards row">
			<article class="card card--top-blue col col-8 col-sm-12 col-md-4">
				<h:form>
					<header class="card__header">
						<h2 class="card__title">Pesquisar Produto</h2>
						<div class="card__buttons">
							<h:commandButton value="Pesquisar" styleClass="btn btn--green"
								action="#{pesquisaProdutosBean.search}" />
							<h:commandLink immediate="true" value="Novo Produto"
								styleClass="alert-text alert-text--info"
								action="RegisterProduct?faces-redirect=true" />
						</div>
					</header>

					<div class="card__body">
						<h:outputLabel styleClass="input__label" value="Nome" />
						<h:inputText styleClass="input__data"
							value="#{pesquisaProdutosBean.filter.nome}" id="nome" pt:placeholder="Nome do Produto"/>

						<h:outputLabel value="Pesquisar por"
							styleClass="input__label margin-top-sm" />
						<h:selectOneMenu value="#{pesquisaProdutosBean.filter.tipoProduto}"
							styleClass="input__data">
							<f:selectItems value="#{pesquisaProdutosBean.tiposProduto}"
								var="tipo" itemLabel="#{tipo}" itemValue="#{tipo}" id="tipo" />
						</h:selectOneMenu>
					</div>
				</h:form>
			</article>
			
			<h:panelGroup layout="block" rendered="#{not empty pesquisaProdutosBean.filter.filterList}">
			<article class="card card--top-blue col col-8 col-sm-12 col-md-12">
				<h:form>
					<table class="table table--bordered  table--hover">
						<thead class="table__head">
							<th>Produto</th>
							<th>Tipo</th>
							<th>Descrição</th>
							<th>Desconto</th>
							<th>Preço de Compras</th>
							<th>Preço de Venda</th>
							<th>Acabamento</th>
							<th>Código de Mercado</th>
							<th>Código de Barras</th>
							<th></th>
						</thead>
						
						<ui:repeat var="produto" value="#{pesquisaProdutosBean.produtos}">
							<tbody class="table__body">
								<tr>
									<td>#{produto.nome}</td>
									<td>#{produto.tipoProduto}</td>
									<td>#{produto.descricao}</td>
									<td>#{produto.desconto}</td>
									<td>#{produto.precoCompra}</td>
									<td>#{produto.precoVenda}</td>
									<td>#{produto.acabamento}</td>
									<td>#{produto.codigoMercado}</td>
									<td>#{produto.codigoBarras}</td>
									<td> <h:commandButton value="Remover" styleClass="btn btn--red" action="#{pesquisaProdutosBean.delete(produto)}"/> </td>
									<td> <h:commandButton value="Editar" styleClass="btn btn--blue" action="#{pesquisaProdutosBean.editar(produto)}"/> </td>
								</tr>
							</tbody>
						</ui:repeat>
					</table>
				</h:form>
			</article>
			</h:panelGroup>
			
		</section>


	</ui:define>
</ui:composition>

