<ui:composition template="/WEB-INF/template/DashboardTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">


	<ui:param name="title" value="Página Inicial" />

	<ui:define name="content">

        <section class="section-tickets row">

          <div class="ticket ticket--green">
            <div class="ticket__icon">
              <i class="fas fa-check"></i>
            </div>

            <div class="ticket__info">
                <span class="ticket__title">Tasks</span>
                <span class="ticket__subtitle">50</span>
            </div>
          </div>

          <div class="ticket ticket--red">
            <div class="ticket__icon">
              <i class="fas fa-users"></i>
            </div>

            <div class="ticket__info">
                <span class="ticket__title">Users</span>
                <span class="ticket__subtitle">16</span>
            </div>
          </div> 

          <div class="ticket ticket--purple">
            <div class="ticket__icon">
              <i class="far fa-envelope"></i>
            </div>

            <div class="ticket__info">
                <span class="ticket__title">E-mail</span>
                <span class="ticket__subtitle">899</span>
            </div>
          </div>

          <div class="ticket ticket--blue">
            <div class="ticket__icon">
              <i class="fa fa-dollar-sign"></i>
            </div>

            <div class="ticket__info">
                <span class="ticket__title">Purshases</span>
                <span class="ticket__subtitle">3</span>
            </div>
          </div>
        </section>

	</ui:define>
	
</ui:composition>