<ui:composition template="/WEB-INF/template/DashboardTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

	<ui:param name="title" value="Cadastro de Pessoa Fisica" />
	<ui:define name="content">



	<h:form prependId="false" id="formDadosCliente">
		<section class="section-cards row">

			<article class="card col col-12 col-sm-12 col-md-9">
				<div class="card__body">
					<h:commandButton styleClass="btn btn--lg btn--green"
						value="Salvar Cliente" action="#{cadastroCustumerBean.save}" >
						<f:ajax execute="@this"/>
					</h:commandButton>
						
					<h:commandButton styleClass="btn btn--lg btn--blue"
						value="Pesquisa Cliente" />
				</div>
			</article>

			<article class="card col col-12 col-sm-12 col-md-3">
				<h:selectOneRadio value="#{cadastroCustumerBean.changeCustomer}"
					styleClass="many-checkbox">
					<f:selectItem itemLabel="Pessoa Física" itemValue="false"
						itemSelected="true" />
					<f:selectItem itemLabel="Pessoa Jurídica" itemValue="true" />
					<f:ajax event="change" execute="@this" render="@form" />
				</h:selectOneRadio>
			</article>

		</section>
		<section class="section-cards row">

			
			
				<!-- FISICA -->
				<h:panelGroup layout="block"  rendered="#{!cadastroCustumerBean.changeCustomer }" >
					<article class="card card--top-blue col col-8 col-sm-12 col-md-4">
					
						<header class="card__header">
							<h2 class="card__title">Cadastro de Pessoa Física</h2>
						</header>

						<div class="card__body">
							<div class="input">
								<h:outputLabel styleClass="input__label" value="Nome do Cliente" />
								<h:inputText type="text" styleClass="input__data"
									pt:placeholder="Nome do Cliente" id="nomeCliente"
									required="true" requiredMessage="** Campo nome obrigatório"
									value="#{cadastroCustumerBean.cliente.nome}" />

								<h:message for="nomeCliente"
									styleClass="alert-text alert-text--danger" />
							</div>

							<div class="input">
								<h:outputLabel styleClass="input__label" value="RG" />
								<h:inputText type="text" styleClass="input__data maskRG"
									id="rgCliente" required="true"
									requiredMessage="** Campo rg obrigatório"
									value="#{cadastroCustumerBean.cliente.nome}" />

								<h:message for="rgCliente"
									styleClass="alert-text alert-text--danger" />
							</div>

							<div class="input">
								<h:outputLabel styleClass="input__label" value="CPF" />
								<h:inputText type="text" styleClass="input__data maskCPF"
									id="cpfCliente" required="true"
									requiredMessage="** Campo cpf obrigatório"
									value="#{cadastroCustumerBean.cliente.nome}" />

								<h:message for="cpfCliente"
									styleClass="alert-text alert-text--danger" />
							</div>

						</div>

					</article>
				</h:panelGroup>


				<!-- JURIDICA -->
				<h:panelGroup layout="block"
					rendered="#{cadastroCustumerBean.changeCustomer}">
					<article class="card card--top-blue col col-8 col-sm-12 col-md-4">
						<header class="card__header">
							<h2 class="card__title">Cadastro de Pessoa Jurídica</h2>
						</header>

						<div class="card__body">

							<div class="input">
								<h:outputLabel styleClass="input__label" value="Nome Fantasia" />
								<h:inputText type="text" styleClass="input__data"
									pt:placeholder="Nome Fantasia " id="nomeFantasia"
									required="true"
									requiredMessage="** Campo nome fantasia obrigatório"
									value="#{cadastroCustumerBean.cliente.nome}" />

								<h:message for="nomeFantasia"
									styleClass="alert-text alert-text--danger" />
							</div>

							<div class="input">
								<h:outputLabel styleClass="input__label" value="Razão Social" />
								<h:inputText type="text" styleClass="input__data"
									id="razaoSocialCliente" required="true"
									requiredMessage="** Campo razão social obrigatório"
									value="#{cadastroCustumerBean.cliente.razaoSocial}" />

								<h:message for="razaoSocialCliente"
									styleClass="alert-text alert-text--danger" />
							</div>

							<div class="input">
								<h:outputLabel styleClass="input__label" value="CNPJ" />
								<h:inputText type="text" styleClass="input__data"
									id="cnpjCliente" required="true"
									requiredMessage="** Campo cnpj obrigatório"
									value="#{cadastroCustumerBean.cliente.cnpj}" />

								<h:message for="cnpjCliente"
									styleClass="alert-text alert-text--danger" />
							</div>

							<div class="input">
								<h:outputLabel styleClass="input__label"
									value="Número de Inscricao" />
								<h:inputText type="text" styleClass="input__data"
									id="numeroInscricaoCliente" required="true"
									requiredMessage="** Campo número de inscrição obrigatório"
									value="#{cadastroCustumerBean.cliente.numeroInscricao}" />

								<h:message for="numeroInscricaoCliente"
									styleClass="alert-text alert-text--danger" />
							</div>

						</div>

					</article>
				</h:panelGroup>
	

			<h:panelGroup layout="block" id="panelGroupLocalizacao"
				styleClass="card card--top-blue col col-12 col-sm-12 col-md-4">
				<header class="card__header">
					<h2 class="card__title">Localizacao do Cliente</h2>
				</header>

				<div class="card__body">
					<div class="input">
						<h:outputLabel styleClass="input__label" value="Endereço" />
						<h:inputText type="text" styleClass="input__data" disabled="#{not empty cadastroCustumerBean.cliente.localizacao.cep}"
							id="enderecoCliente" required="true"
							requiredMessage="** Campo endereço obrigatório"
							value="#{cadastroCustumerBean.cliente.localizacao.logradouro}" />

						<h:message for="enderecoCliente"
							styleClass="alert-text alert-text--danger" />
					</div>

					<div class="input">
						<h:outputLabel styleClass="input__label" value="CEP" />
						<h:inputText type="text" styleClass="input__data" id="cepCliente" disabled="#{not empty cadastroCustumerBean.cliente.localizacao.cep}"
							required="true" requiredMessage="** Campo cep obrigatório"
							value="#{cadastroCustumerBean.cliente.localizacao.cep}" >
							<f:ajax event="blur" execute="@this" render="panelGroupLocalizacao :globalMessages" listener="#{cadastroCustumerBean.localize}"/>
						</h:inputText>
		
						<h:message for="cepCliente"
							styleClass="alert-text alert-text--danger" />
					</div>


					<div class="input">
						<h:outputLabel styleClass="input__label" value="Cidade" />
						<h:inputText type="text" styleClass="input__data" disabled="#{not empty cadastroCustumerBean.cliente.localizacao.cep}"
							id="cidadeCliente" required="true"
							requiredMessage="** Campo cidade obrigatório"
							value="#{cadastroCustumerBean.cliente.localizacao.localidade}" />

						<h:message for="cidadeCliente"
							styleClass="alert-text alert-text--danger" />
					</div>



					<div class="input">
						<h:outputLabel styleClass="input__label" value="Bairro" />
						<h:inputText type="text" styleClass="input__data" disabled="#{not empty cadastroCustumerBean.cliente.localizacao.cep}"
							id="bairroCliente" required="true"
							requiredMessage="** Campo bairro obrigatório"
							value="#{cadastroCustumerBean.cliente.localizacao.bairro}" />

						<h:message for="bairroCliente"
							styleClass="alert-text alert-text--danger" />
					</div>

					<div class="input">
						<h:outputLabel styleClass="input__label" value="UF" />
						<h:inputText type="text" styleClass="input__data" disabled="#{not empty cadastroCustumerBean.cliente.localizacao.cep}"
							id="estadoCliente" required="true"
							requiredMessage="** Campo uf obrigatório"
							value="#{cadastroCustumerBean.cliente.localizacao.uf}" />

						<h:message for="estadoCliente"
							styleClass="alert-text alert-text--danger" />
					</div>
				</div>

			</h:panelGroup>

			<div class="col col-12 col-sm-12 col-md-1"></div>

			<div 
				class="card card--top-blue col col-12 col-sm-12 col-md-3">
				<header class="card__header">
					<h2 class="card__title">Contato do Cliente</h2>
				</header>

				<div class="card__body">
					<div class="input">
						<h:outputLabel styleClass="input__label" value="Nome para Contato" />
						<h:inputText type="text" styleClass="input__data" id="nomeContato"
							required="true" requiredMessage="** Campo nome obrigatório"
							value="#{cadastroCustumerBean.contato.nome}" />

						<h:message for="nomeContato"
							styleClass="alert-text alert-text--danger" />
					</div>


					<div class="input">
						<h:outputLabel styleClass="input__label" value="Sobrenome" />
						<h:inputText type="text" styleClass="input__data"
							id="sobrenomeContato" required="true"
							requiredMessage="** Campo sobrenome obrigatório"
							value="#{cadastroCustumerBean.contato.sobrenome}" />

						<h:message for="sobrenomeContato"
							styleClass="alert-text alert-text--danger" />
					</div>

					<div class="input">
						<h:outputLabel styleClass="input__label" value="E-mail" />
						<h:inputText type="text" styleClass="input__data"
							id="emailContato" required="true"
							requiredMessage="** Campo e-mail obrigatório"
							value="#{cadastroCustumerBean.contato.email}" />

						<h:message for="emailContato"
							styleClass="alert-text alert-text--danger" />
					</div>

					<div class="input">
						<h:outputLabel styleClass="input__label" value="Telefone 1" />
						<h:inputText type="text" styleClass="input__data" id="telefone1"
							required="true" requiredMessage="** Campo telefone  obrigatório"
							value="#{cadastroCustumerBean.contato.telefone1}" />

						<h:message for="telefone1"
							styleClass="alert-text alert-text--danger" />
					</div>

					<div class="input">
						<h:outputLabel styleClass="input__label" value="Telefone 2 " />
						<h:inputText type="text" styleClass="input__data" id="telefone2"
							required="true" requiredMessage="** Campo telefone  obrigatório"
							value="#{cadastroCustumerBean.contato.telefone2}" />

						<h:message for="telefone2"
							styleClass="alert-text alert-text--danger" />
					</div>

					<div class="input">
						<h:outputLabel styleClass="input__label" value="Telefone 3" />
						<h:inputText type="text" styleClass="input__data" id="telefone3"
							required="true" requiredMessage="** Campo telefone  obrigatório"
							value="#{cadastroCustumerBean.contato.telefone3}" />

						<h:message for="telefone3"
							styleClass="alert-text alert-text--danger" />
					</div>

					<h:commandButton value="Adicionar" styleClass="btn btn--green">
						<f:ajax 
							execute="nomeContato sobrenomeContato emailContato telefone1 telefone2 telefone3" 
							render="nomeContato sobrenomeContato emailContato telefone1 telefone2 telefone3 :formListaContatos" 
							listener="#{cadastroCustumerBean.addContato}"/>
					</h:commandButton>
				</div>
			</div>

		</section>
		</h:form>
	
		<h:form id="formListaContatos">
			<section class="section-cards row">
				<h:panelGroup layout="block" id="panelGroupContatosList"
					styleClass="card card--top-blue col col-8 col-sm-12 col-md-12">
					<table class="table table--bordered  table--hover">
						<thead class="table__head">
							<th>Nome</th>
							<th>Email</th>
							<th>Telefone 1</th>
							<th>Telefone 2</th>
							<th>Telefone 3</th>
							<th>Descrição</th>
	
						</thead>
	
						<ui:repeat var="contato"
							value="#{cadastroCustumerBean.cliente.contatos}">
							<tbody class="table__body">
								<tr>
									<td>#{contato.nome} - #{contato.sobrenome}</td>
									<td>#{contato.email}</td>
									<td>#{contato.telefone1}</td>
									<td>#{contato.telefone1}</td>
									<td>#{contato.telefone2}</td>
									<td>#{contato.telefone3}</td>
									<td>#{contato.descricao}</td>
	
									<td><h:commandButton value="Remover"
											styleClass="btn btn--red"
											action="#{cadastroCustumerBean.removeContato(contato)}" /></td>
									<td><h:commandButton value="Editar"
											styleClass="btn btn--blue"
											action="#{cadastroCustumerBean.editContato(contato)}" /></td>
								</tr>
							</tbody>
						</ui:repeat>
					</table>
				</h:panelGroup>
			</section>
		</h:form>

	</ui:define>
</ui:composition>