<ui:composition template="/WEB-INF/template/Template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">

	<ui:param name="title" value="Cadastro de Clientes" />

	<ui:define name="content">

		<h:form >
			<h:panelGrid>
				<p:outputLabel value="Cliente" />
				<p:selectOneMenu value="#{pesquisaClienteBean.tipoCliente}" required="true">
					<f:selectItem itemLabel="Selecione o Cliente" noSelectionOption="true" itemDisabled="true" escape="true" />
					<f:selectItems value="#{pesquisaClienteBean.tiposCliente}" var="tipo" itemLabel="#{tipo}" itemValue="#{tipo}"/>
					<p:ajax event="change" process="@this" update="@form" />
				</p:selectOneMenu>
				
				<p:outputLabel value="Documento" />
				<p:inputMask mask="#{pesquisaClienteBean.tipoCliente eq 'PESSOA_FISICA' ? '999.999.999-99' : '99.999.999/9999-99' }" value="#{pesquisaClienteBean.documento}"/>
				
				
				<p:commandButton value="Search" ajax="false" actionListener="#{pesquisaClienteBean.search}" />
			</h:panelGrid>
			
			<p:dataTable value="#{pesquisaClienteBean.clientes}" var="cliente">
				<p:column headerText="Nome"><h:outputText value="#{cliente.nome}"/><h:outputText value="#{cliente.razaoSocial}"/></p:column>
				<p:column headerText="Cpf/Cnpj"><h:outputText value="#{cliente.cpf}"/> <h:outputText value="#{cliente.cnpj}"/> </p:column>
				<p:column headerText="Data"></p:column>
				<p:column headerText="Contatos"><p:commandButton value="Contatos"/> </p:column>
				<p:column headerText="Localizacao"><p:commandButton value="Localizacao"/> </p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
	
</ui:composition>