<ui:composition template="/WEB-INF/template/Template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">


	<ui:param name="title" value="Página não encontrada" />

	<ui:define name="content">
		<h1>Página não encontrada!</h1>
		<p>Não se preocupe estamos você pode voltar a pagina  <a href="/allum-erp/">inicial</a>!</p>
	</ui:define>
	
</ui:composition>