<ui:composition template="/WEB-INF/template/Template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">


	<ui:param name="title" value="Sessão Expirada" />

	<ui:define name="content">
		<h1>Sua Sessão foi expirada!</h1>
	</ui:define>
	
</ui:composition>