<ui:composition template="/WEB-INF/template/Template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf">


	<ui:param name="title" value="Entrar no Sistema" />

	<ui:define name="content">
		<div class="form-login">
			<form class="form">
				<div class="login-panel card card--top-green margin-top-lg ">
					<header class="login-panel__header card__header text-center">
						<h2 class="card__title ">Logue na sua conta!</h2>
					</header>

					<div class="card__body card__body--login">
						<div class="input login-panel__input">
							<label for="#" class="input__label">E-mail</label> <input
								type="text" class="input__data" placeholder="Digite seu e-mail"/><span
								class="alert-text alert-text--danger">This Field is
								Inválid</span>
						</div>
						<div class="input login-panel__input">
							<label for="#" class="input__label">Senha</label> <input
								type="text" class="input__data" placeholder="Digite sua senha"/><span
								class="alert-text alert-text--danger">This Field is
								Inválid</span>
						</div>
					</div>

					<footer class="card__footer card_footer--login">
						<button type="submit" class="btn btn--lg btn--green btn--block">Entrar</button>
					</footer>
				</div>
			</form>

			<footer class="footer-login">
				<div class="footer-login__link">
					<a href="#">Termos</a> <a href="#">Privacidade</a> <a href="#">Linguagem</a>
				</div>
			</footer>
		</div>

	</ui:define>

</ui:composition>